/** Colors **/
$orange: #F56400;
$light-code: #5E5E5E;

.slides {
    section {
        img {
            border: none;
            background: none;
            box-shadow: none;
        }
    }
}

.center-parent {
  position: relative;
}


#que {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  color: $orange;
  font-size: 5em;
}

.reveal ul.plain {
  list-style-type: none;
}

.reveal section.fragment-shown pre code.light {
  background: $light-code;
}
