/** Colors **/
.slides section img {
  border: none;
  background: none;
  box-shadow: none; }

.center-parent {
  position: relative; }

#que {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  color: #F56400;
  font-size: 5em; }

.reveal ul.plain {
  list-style-type: none; }

.reveal pre code.light {
  background: #6D6D6D; }
