/** Colors **/
.slides section img {
  border: none;
  background: none;
  box-shadow: none; }

.center-parent {
  position: relative; }

#que {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  color: #F56400;
  font-size: 5em; }

.reveal ul.plain {
  list-style-type: none; }

.reveal section.fragment-shown pre code.light {
  background: #5E5E5E; }

.reveal section.fragment-shown .strike {
  text-decoration: line-through; }
